<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>
<title>ホームページ</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-slate-400">

	<div align="center">
		<header class="bg-gray-200 pb-24">
		    <span class="text-4xl font-bold absolute top-1 left-1">ニュースシステム</span>
			<div class="absolute top-1 right-1">
				<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
			    	<a class="" href="/client_home/0">クライアント側へ</a>
			    </button>
		    	<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
			    	<i class="fa-solid fa-house">
			    		<a class="absolute w-full h-full left-0 top-0" href="/home/0"></a>
			    	</i>
		    	</button>
		    	<br/>
				<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
			    	<a class="" href="/category_home/0">カテゴリー</a>
			    </button>
				<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
			    	<a class="" href="/sub_category_home/0">サブカテゴリー</a>
			    </button>
	    	</div>
		</header>
	    <h1 class="text-3xl font-bold underline">
	      ニュース:
	    </h1>
			
		    
         	<div class="justify-around">
	         	<div class="flex">
	         	<p class="mt-2">シングル条件検索 :</p>  
	    		<form action="#" th:action="@{/home_search_category}" method="post" th:object="${news01}">
					<div class="shadow-inner shadow-black m-1">
						<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
							<label class="text-white">カテゴリー:</label>
						</div>
						<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
							<select th:field="*{category}">
								<option th:each="l : ${categoryList}" th:value="${l}" th:text="${l}" />
							</select>
						</div>
					</div>
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">マッチと検索</button>
					
				</form>
				
					
				<form action="#" th:action="@{/home_search_sub_category}" method="post" th:object="${news02}">
					<div class="shadow-inner shadow-black m-1">
						<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
							<label class="text-white">サブカテゴリー:</label>
						</div>
						<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
							<select th:field="*{subCategory}">
								<option th:each="l : ${subCategoryList}" th:value="${l}" th:text="${l}" />
							</select>
						</div>
					</div>
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">検索</button>
					
				</form>
					
				<form action="#" th:action="@{/home_search_news_title}" method="post" th:object="${news03}">
					<div class="shadow-inner shadow-black m-1">
						<div class="w-48 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
							<label class="text-white">ニュースタイル:</label>
						</div>
						<div class="w-48 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
							<input class="w-full h-full rounded-b-lg text-center" type="text" th:field="*{newsTitle}" /><br/>
						</div>
					</div>
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">検索</button>
					
				</form>
					
				<form action="#" th:action="@{/home_search_news_sub_title}" method="post" th:object="${news04}">

					<div class="shadow-inner shadow-black m-1">
						<div class="w-48 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
							<label class="text-white">ニュースのサブタイル:</label>
						</div>
						<div class="w-48 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
							<input class="w-full h-full rounded-b-lg text-center" type="text" th:field="*{newsSubTitle}" /><br/>
						</div>
					</div>
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">検索</button>
					
				</form>
				
				<form action="#" th:action="@{/home_search_start_time}" method="post" th:object="${news05}">
					<div class="shadow-inner shadow-black m-1">
						<div class="w-36 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
							<label class="text-white">発表日以降:</label>
						</div>
						<div class="w-36 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
							<input class="w-full h-full rounded-b-lg text-center" type="date" th:field="*{releaseTime}" /><br/>
						</div>
					</div>
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">検索</button>
					
				</form>
				
				<form action="#" th:action="@{/home_search_end_time}" method="post" th:object="${news06}">
					<div class="shadow-inner shadow-black m-1">
						<div class="w-36 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
							<label class="text-white">発表日以前:</label>
						</div>
						<div class="w-36 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
							<input class="w-full h-full rounded-b-lg text-center" type="date" th:field="*{releaseTime}" /><br/>
						</div>
					</div>
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">検索</button>
					
				</form>
				
	         	</div>
	         	<hr class="m-1"/>
	         	<div class="flex">
	         	<p class="mt-2">複数条件検索 :</p>
	    		<form action="#" th:action="@{/news_multiple_search}" method="post" th:object="${news07}">
					<div class="flex">
						<div class="shadow-inner shadow-black m-1">
							<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">カテゴリー:</label>
							</div>
							<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<select th:field="*{category}">
									<option th:each="l : ${categoryList}" th:value="${l}" th:text="${l}" />
								</select>
							</div>
						</div>
						
						<div class="shadow-inner shadow-black m-1">
							<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">サブカテゴリー:</label>
							</div>
							<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="text" th:field="*{subCategory}" /><br/>
							</div>
						</div>
					
						<div class="shadow-inner shadow-black m-1">
							<div class="w-24 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">タイル:</label>
							</div>
							<div class="w-24 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="text" th:field="*{newsTitle}" /><br/>
							</div>
						</div>
						
						<div class="shadow-inner shadow-black m-1">
							<div class="w-36 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">サブタイル:</label>
							</div>
							<div class="w-36 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="text" th:field="*{newsSubTitle}" /><br/>
							</div>
						</div>
						
						<div class="shadow-inner shadow-black m-1">
							<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">発表日以降:</label>
							</div>
							<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="date" th:field="*{releaseTimeStart}" /><br/>
							</div>
						</div>
						
						<div class="shadow-inner shadow-black m-1">
							<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">発表日以前:</label>
							</div>
							<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="date" th:field="*{releaseTimeEnd}" /><br/>
							</div>
						</div>
						
						<div class="shadow-inner shadow-black m-1">
							<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">作成日時以降:</label>
							</div>
							<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="date" th:field="*{buildTimeStart}" /><br/>
							</div>
						</div>
						
						<div class="shadow-inner shadow-black m-1">
							<div class="w-32 h-8 text-center bg-lime-600 m-2 mb-0 border border-2 border-lime-900 rounded-t-lg">
								<label class="text-white">作成日時以前:</label>
							</div>
							<div class="w-32 h-8 text-center mt-0 border border-2 border-lime-900 rounded-b-lg relative">
								<input class="w-full h-full rounded-b-lg text-center" type="date" th:field="*{buildTimeEnd}" /><br/>
							</div>
						</div>
						
						<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">検索</button>
					
					</div>
					
				</form>
				
	         	</div>
	         	<hr class="m-1"/>
         	</div>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
		    	<a class="w-full h-full" href="/all_check">全てを選択</a>
		    </button>
		    
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
		    	<a class="w-full h-full" href="/news_add">ニュース追加</a>
		    </button>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
		    	<a class="w-full h-full" href="/news_edit">ニュース更新</a>
		    </button>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
		    	<a class="w-full h-full" href="/news_delete">ニュース削除</a>
		    </button>
			<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
		    	<a class="w-full h-full" href="/news_zoom">ニュース詳細</a>
		    </button>
		    <div>
			    <span>選択 : 検索結果をチェックして、選択完了ボタンを押す。</span><br/>
			    <span>更新機能は一つの検索結果を選択ください。</span><br/>
			    <span>削除機能は複数の検索結果を選択してもらい。</span><br/>
			    <span>詳細機能は一つの検索結果を選択ください。</span><br/>
		    </div>
		    <form action="#" th:action="@{/home}" method="post" th:object="${checkedRes}">
					
					<button type="submit" class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">選択完了</button>
					<!-- <button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative"><a th:href="/home_delete" th:text="刪除"></a></button> --> 
					<!-- <button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative"><a th:href="/home_zoom" th:text="詳細內容"></a></button> --> 
					
					<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
				    	<a class="w-full h-full" href="/home_set_pageSize_10">各ページ10本</a>
				    </button>
					<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
				    	<a class="w-full h-full" href="/home_set_pageSize_50">各ページ50本</a>
				    </button>
					<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
				    	<a class="w-full h-full" href="/home_set_pageSize_100">各ページ100本</a>
				    </button>
					<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
				    	<a class="w-full h-full" href="/home_set_asc">昇順</a>
				    </button>
					<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
				    	<a class="w-full h-full" href="/home_set_desc">降順</a>
				    </button>
		    
					<div class="flex justify-center">
						<div class="mt-8">
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 1" th:field="${checkedRes.checked1}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 2" th:field="${checkedRes.checked2}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 3" th:field="${checkedRes.checked3}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 4" th:field="${checkedRes.checked4}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 5" th:field="${checkedRes.checked5}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 6" th:field="${checkedRes.checked6}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 7" th:field="${checkedRes.checked7}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 8" th:field="${checkedRes.checked8}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 9" th:field="${checkedRes.checked9}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 10" th:field="${checkedRes.checked10}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 11" th:field="${checkedRes.checked11}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 12" th:field="${checkedRes.checked12}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 13" th:field="${checkedRes.checked13}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 14" th:field="${checkedRes.checked14}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 15" th:field="${checkedRes.checked15}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 16" th:field="${checkedRes.checked16}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 17" th:field="${checkedRes.checked17}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 18" th:field="${checkedRes.checked18}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 19" th:field="${checkedRes.checked19}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 20" th:field="${checkedRes.checked20}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 21" th:field="${checkedRes.checked21}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 22" th:field="${checkedRes.checked22}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 23" th:field="${checkedRes.checked23}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 24" th:field="${checkedRes.checked24}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 25" th:field="${checkedRes.checked25}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 26" th:field="${checkedRes.checked26}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 27" th:field="${checkedRes.checked27}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 28" th:field="${checkedRes.checked28}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 29" th:field="${checkedRes.checked29}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 30" th:field="${checkedRes.checked30}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 31" th:field="${checkedRes.checked31}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 32" th:field="${checkedRes.checked32}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 33" th:field="${checkedRes.checked33}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 34" th:field="${checkedRes.checked34}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 35" th:field="${checkedRes.checked35}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 36" th:field="${checkedRes.checked36}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 37" th:field="${checkedRes.checked37}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 38" th:field="${checkedRes.checked38}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 39" th:field="${checkedRes.checked39}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 40" th:field="${checkedRes.checked40}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 41" th:field="${checkedRes.checked41}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 42" th:field="${checkedRes.checked42}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 43" th:field="${checkedRes.checked43}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 44" th:field="${checkedRes.checked44}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 45" th:field="${checkedRes.checked45}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 46" th:field="${checkedRes.checked46}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 47" th:field="${checkedRes.checked47}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 48" th:field="${checkedRes.checked48}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 49" th:field="${checkedRes.checked49}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 50" th:field="${checkedRes.checked50}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 51" th:field="${checkedRes.checked51}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 52" th:field="${checkedRes.checked52}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 53" th:field="${checkedRes.checked53}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 54" th:field="${checkedRes.checked54}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 55" th:field="${checkedRes.checked55}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 56" th:field="${checkedRes.checked56}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 57" th:field="${checkedRes.checked57}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 58" th:field="${checkedRes.checked58}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 59" th:field="${checkedRes.checked59}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 60" th:field="${checkedRes.checked60}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 61" th:field="${checkedRes.checked61}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 62" th:field="${checkedRes.checked62}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 63" th:field="${checkedRes.checked63}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 64" th:field="${checkedRes.checked64}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 65" th:field="${checkedRes.checked65}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 66" th:field="${checkedRes.checked66}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 67" th:field="${checkedRes.checked67}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 68" th:field="${checkedRes.checked68}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 69" th:field="${checkedRes.checked69}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 70" th:field="${checkedRes.checked70}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 71" th:field="${checkedRes.checked71}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 72" th:field="${checkedRes.checked72}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 73" th:field="${checkedRes.checked73}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 74" th:field="${checkedRes.checked74}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 75" th:field="${checkedRes.checked75}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 76" th:field="${checkedRes.checked76}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 77" th:field="${checkedRes.checked77}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 78" th:field="${checkedRes.checked78}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 79" th:field="${checkedRes.checked79}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 80" th:field="${checkedRes.checked80}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 81" th:field="${checkedRes.checked81}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 82" th:field="${checkedRes.checked82}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 83" th:field="${checkedRes.checked83}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 84" th:field="${checkedRes.checked84}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 85" th:field="${checkedRes.checked85}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 86" th:field="${checkedRes.checked86}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 87" th:field="${checkedRes.checked87}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 88" th:field="${checkedRes.checked88}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 89" th:field="${checkedRes.checked89}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 90" th:field="${checkedRes.checked90}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 91" th:field="${checkedRes.checked91}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 92" th:field="${checkedRes.checked92}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 93" th:field="${checkedRes.checked93}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 94" th:field="${checkedRes.checked94}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 95" th:field="${checkedRes.checked95}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 96" th:field="${checkedRes.checked96}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 97" th:field="${checkedRes.checked97}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 98" th:field="${checkedRes.checked98}"><br/>
							<input class="mb-2" type="checkbox" th:if="${newsPageSize} >= 99" th:field="${checkedRes.checked99}"><br/>
							<input class="mb-3" type="checkbox" th:if="${newsPageSize} >= 100" th:field="${checkedRes.checked100}"><br/>
							
						</div>
						<div>
							<table>
								<tr>
									<!-- <td th:text="index" class="border border-2 border-black bg-slate-"></td> -->
									<td th:text="カテゴリー" class="border border-2 border-black bg-slate-"></td>
									<td th:text="サブカテゴリー" class="border border-2 border-black"></td>
									<td th:text="ニュースタイル" class="border border-2 border-black"></td>
									<td th:text="発表日" class="border border-2 border-black"></td>
								</tr>
								<tr th:each="item,status : ${newsPage}">
									<!-- <td th:text="${status.index}" class="w-24 border border-2 border-black bg-white"></td> -->
									<td th:text="${item.category}" class="w-24 border border-2 border-black bg-white"></td>
									<td th:text="${item.subCategory}" class="w-36 border border-2 border-black bg-white"></td>
									<td th:text="${item.newsTitle}" class="w-44 border border-2 border-black bg-white"></td>
									<td th:text="${item.releaseTime}" class="w-44 border border-2 border-black bg-white"></td>
								</tr>
							</table>
							
						    <ul>
						        <li>
						            <a class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative" th:href="'/home/0'">最初のページ</a>
						        </li>
						        <li th:if="${newsPage.hasPrevious()}">
						            <a class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative" th:href="'/home/' + ${newsPage.previousPageable().getPageNumber()}" th:text="前のページ"></a>
						        </li>
						        <li th:if="${newsPage.hasNext()}">
						            <a class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative" th:href="'/home/' + ${newsPage.nextPageable().getPageNumber()}" th:text="次のページ"></a>
						        </li>
						        <li>
						            <a class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative" th:href="'/home/' + ${newsPage.getTotalPages() - 1}">最後のページ</a>
						        </li>
						    </ul>
						</div>
						
					</div>
							
				</form>
    	
		
	    <footer class="py-8 bg-gray-200">
		 	<p>著作権所有© 2023 Github-hibiki4945</p>
		</footer>
	</div>
</body>
</html>