<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>
<title>ニュース追加の確認</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style type="text/css">
    .content {white-space: pre;}
</style>
</head>
<body class="bg-slate-400">

	<div align="center">
		<header class="bg-gray-200 pb-24">
		    <span class="text-4xl font-bold absolute top-1 left-1">ニュースシステム</span>
			<div class="absolute top-1 right-1">
		    	<button class="rounded-full text-white bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative">
			    	<i class="fa-solid fa-house">
			    		<a class="absolute w-full h-full left-0 top-0" href="/home/0"></a>
			    	</i>
		    	</button>
	    	</div>
		</header>
	    <h1 class="text-3xl font-bold underline">
	      ニュース:
	    </h1>
	    <form action="#" th:action="@{/news_add_preview}" method="post" th:object="${news}" class="mb-12">
			<div th:object="${error}">
			  <span th:text="${error}" class="text-red-900"></span>
	        </div>
			<button type="submit" class="fixed w-12 h-12 left-72 top-0 rounded-full bg-blue-600 px-2 m-2 hover:scale-105 active:scale-95 hover:cursor-pointer relative text-white">
		    	ニュース追加
		    </button>
			<hr class="my-4" />
			クライアント側の検索結果のプレビュー : 
			<table>
				<tr>
					<td th:text="カテゴリー" class="border border-2 border-black bg-slate-600 text-white"></td>
					<td th:text="サブカテゴリー" class="border border-2 border-black bg-slate-600 text-white"></td>
					<td th:text="ニュースタイル" class="border border-2 border-black bg-slate-600 text-white"></td>
					<td th:text="ニュースのサブタイル" class="border border-2 border-black bg-slate-600 text-white"></td>
					<td th:text="発表日" class="border border-2 border-black bg-slate-600 text-white"></td>
				</tr>
				<tr>
					<td th:text="*{category}" class="border border-2 border-black bg-slate-"></td>
					<td th:text="*{subCategory}" class="border border-2 border-black bg-slate-"></td>
					<td th:text="*{newsTitle}" class="border border-2 border-black"></td>
					<td th:text="*{newsSubTitle}" class="border border-2 border-black"></td>
					<td th:text="*{releaseTime}" class="border border-2 border-black"></td>
				</tr>
			</table>
			<hr class="my-4" />
			クライアント側のニュース詳細のプレビュー : 
         	<div class="justify-around ml-24">
	         	<div class="flex">
					<div class="text-center text-lg mt-0 relative">
						<span th:text="*{category} "></span>
						>
						<span th:text=" *{subCategory}"></span>
					</div>
	         	</div>
	         	<div class="flex">
					<div class="text-center text-6xl mt-0 relative">
						<label th:text="*{newsTitle}"></label>
					</div>
	         	</div>
	         	<div class="flex">
					<div class="text-center text-2xl mt-0 mr-6 relative">
						<label th:text="*{newsSubTitle}"></label>
					</div>
					<div class="text-xl mt-0 relative">
						<label th:text="*{releaseTime}"></label>
					</div>
				</div>
	         	<div class="flex m-12">
					<p th:text="*{content}" class="content"></p><br/>
				</div>
			</div>
		</form>
		
	    <footer class="py-8 bg-gray-200">
		 	<p>著作権所有© 2023 Github-hibiki4945</p>
		</footer>
	</div>
</body>
</html>